{% extends 'djamba/base.html' %}
{% load static %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'djam/bg_pulse/style.css' %}">
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Live Background
        <small>Background image is based on real-time series data</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <div class="col-lg-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Simple Background</h3>
              <p>Gradient is based on time series data</p>
            </div>
            <!-- /.box-header -->
            <div class="box-body demo">
              <canvas class="bg-pulse">
              </canvas>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'djam/bg_pulse/widget.js' %}"></script>
{% endblock %}
