{% extends 'djamba/base.html' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Audit Log Timeline
        <small></small>
      </h1>
    </section>

    

          <!-- Main content -->
    <section class="content container">

      <!-- row -->
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <!-- The time line -->
          <ul class="timeline">
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-gray">
                    12 Feb. 2019
                  </span>
            </li>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Dale Watson</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-play bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> viewed <a href="#">Office</a> camera</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user-plus bg-red"></i>
              <div class="timeline-item panel panel-danger">
                <span class="time"><i class="fa fa-clock-o"></i> 12:30</span>
                <h3 class="timeline-header no-border"><a href="#">Drew Carey</a> added user <a href="#">Dolly Rotts</a></h3>
              </div>
            </li>
            <li>
              <i class="fa fa-power-off bg-yellow"></i>
              <div class="timeline-item panel panel-warning">
                <span class="time"><i class="fa fa-clock-o"></i> 23:30</span>
                <h3 class="timeline-header no-border"><a href="#">Mickey Avalon</a> turned off <a href="#">ATM Camera</a></h3>
              </div>
            </li>

            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-gray">
                    11 Feb 2019
                  </span>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Jim Grant</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user-secret bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">EEN Employee</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Dale Watson</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-object-ungroup bg-yellow"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header panel panel-warning"><a href="#">Dale Watson</a> updated the motion region on <a href="#">Parking Lot</a> camera</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Steve Tooks</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Kelley Granotto</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Gina Cassel</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            


            <!-- END timeline item -->
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-gray">
                    10 Feb 2019
                  </span>
            </li>
            <li>
              <i class="fa fa-exclamation bg-red"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header panel panel-warning"><a href="#">Kim Gordon</a> deleted <a href="#">Lobby 2</a> camera</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-exclamation bg-red"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header panel panel-warning"><a href="#">Kim Gordon</a> deleted <a href="#">Lobby 3</a> camera</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Jim Grant</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user-secret bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">EEN Employee</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Dale Watson</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-exclamation bg-red"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header panel panel-warning"><a href="#">Kim Gordon</a> deleted <a href="#">Lobby</a> camera</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Steve Tooks</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Kelley Granotto</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>
              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                <h3 class="timeline-header"><a href="#">Gina Cassel</a> logged in from 192.50.4.23</h3>
              </div>
            </li>
            
          </ul>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
{% endblock %}