{% extends 'djamba/base.html' %}

{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">DJAM-BA-LAY-A</h1>
          <p class="lead">A "mixed" up collection of experiments and demos from frontenf to bandend but always involving Django.  You might even call it Django Fiddle.  Some of the items here may be server-side rendered, client rendered or a mix and mash of both.</p>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content container">
      {% for menu in LEFT_NAV %}
        <div class="row justify-content-md-center">
          <div class="col-lg-12 col-xs-12">
            <!-- small box -->

            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{menu.name}}</h3>
                <p>{{menu.desc}}</p>
              </div>
              <div class="icon">
                <i class="{{menu.icon_classes}}"></i>
              </div>
              <div class="box-footer no-padding">
                  <ul class="nav nav-stacked">
                    {% for sub in menu.items %}
                    <li {% if sub.disabled %}class="disabled"{% endif %}>
                      <a href="{{sub.url}}">
                        <i class="{{sub.icon_classes}}"></i>
                        <span>{{sub.name}}</span></a>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      


    </section>
    <!-- /.content -->
  </div>
{% endblock %}